body {
    font-family: 'Minecraftia', sans-serif;
    text-shadow: 2px 2px #000;
    image-rendering: pixelated;
    background-image: url('Images/1321959.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.buttons button {
    height: 30pt;
    width: 300pt;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    margin: 8px 0;

    background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
    image-rendering: pixelated;
    border: 2px solid #000;

    /* Mouse over */
    &:hover {
        background-color: rgba(100, 100, 255, .45);
        text-shadow: 2px 2px #202013CC;
        color: #FFFFA0;
    }

    &:active {
        box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
    }
}

.logo-img-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: absolute;
    color: yellow;
    bottom: 0;
    font-size: 20px;
    right: 0;
    z-index: 2;
    transform: rotate(-22deg);
}

.inline-buttons {
    display: flex;
    gap: 8px;
    /* space between buttons */
    justify-content: center;
    margin-top: 8px;
}

.buttons button,
.inline-buttons button,
.dot-btn {
    font-family: 'Minecraftia', sans-serif;
    font-size: 15px;
    padding-bottom: .3em;

    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
}